<md-dialog class="modal" id="desarrollo">
	<form ng-cloak>
        <md-toolbar class="modal-toolbar">
            <div class="md-toolbar-tools">
                <h2 style="color: #fff;">Desarrollos</h2>
            </div>
        </md-toolbar>
        <md-dialog-content class="p">
            <div class="md-dialog-content">
                <div layout-wrap layout="row" layout-align="center center">
                    <div flex="100" layout-padding>
                        <label class="label" for="titulo">Lista de Amenidades</label><br/>
                        <table rules="rows" cellspacing="0" class="docs">
                            <thead>
                                <tr>
                                    <td class="ordenar text-left" ng-click="ordenar('clave')">Clave</td>
                                    <td class="ordenar text-left" ng-click="ordenar('descripcion')">Descripción</td>
                                    <td class="ordenar text-center" ng-click="ordenar('tipo')">Tipo</td>
                                    <td class="ordenar text-center" ng-click="ordenar('estatus')">Estado</td>
                                    <td class="ordenar text-center" ng-click="ordenar('construccion')">Construcción</td>
                                    <td class="ordenar text-center" ng-click="ordenar('terreno')">Terreno</td>
                                    <td class="ordenar text-right" ng-click="ordenar('precio')">Precio</td>
                                </tr>
                            </thead>
                        </table>
                        <div class="contImages">
                            <table rules="rows" cellspacing="0" class="docs">
                                <tbody>
                                    <tr ng-repeat="elem in dataExcel">
                                        <td class="text-left">{{ elem.clave }}</td>
                                        <td class="text-left">{{ elem.descripcion }}</td>
                                        <td class="text-center">{{ elem.tipo }}</td>
                                        <td class="text-center">{{ (elem.estatus == 0) ? 'Vendida' : (elem.estatus == 1) ? 'Apartada' : 'Disponible' }}</td>
                                        <td class="text-center">{{ elem.construccion }} m2</td>
                                        <td class="text-center">{{ elem.terreno }} m2</td>
                                        <td class="text-right">{{ elem.precio | currency }}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
			</div>
        </md-dialog-content>
        <md-dialog-actions class="p" layout="row" layout-align="end center" style="order: 2;">
			<md-button ng-disabled="disabled" class="md-raised button new" ng-if="!updating" ng-click="save(objectDesarrollo)">Guardar</md-button>
			<md-button ng-disabled="disabled" class="md-raised button new" ng-if="updating" ng-click="update(objectDesarrollo)">Editar</md-button>
			<md-button class="md-raised button md-warn" ng-click="cancel()">Cancelar</md-button>
		</md-dialog-actions>
    </form>
</md-dialog>