<div class="inversion">
	<section class="principal">
		<div layout="row" layout-align="start stretch" class="mb+++">
			<div flex="10">
				<div layout="row" layout-align="center center" class="h-100">
					<div class="line"></div>
				</div>
			</div>
			<div flex="80">
				<h2 class="pl+++">INVERSIÓN</h2>
			</div>
		</div>
		<div layout="row" layout-align="start stretch" class="mb+++">
			<div flex-gt-sm="40" flex-offset-gt-xs="30" flex="60">
				<h2 class="pl+++ text-center">Beneficios de invertir con nosotros</h2>
			</div>
			<div flex="30">
				<div layout="row" layout-align="center center" class="h-100">
					<div class="line"></div>
				</div>
			</div>
		</div>
		<div layout="row" layout-align="center center" class="benefits">
			<div flex="90">
				<div layout="row" layout-wrap>
					<div flex-gt-sm="40" flex="100" class="benefits-description p+++">
						<h3 class="m0">Creciendo tu patrimonio de forma Sostenible a través del tiempo.</h3>
						<p class="normal text-justify">Sin duda los bienes raíces han sido un medio históricamente atractivo para invertir, es tentador por la seguridad, estabilidad y rentabilidad que provee, muy pocas alternativas cómo esta. </p>
						<p class="normal text-justify">Nuestro enfoque es crear valor a través del desarrollo de comunidades sostenibles y que perduren a través del tiempo. Invertir en Yucatán, principalmente en Mérida es una oportunidad única en nuestro país, pues estamos ante un movimiento demográfico que genera crecimiento, inversión y oportunidades. </p>
						<p class="normal text-justify">Sin duda, nuestros desarrollos se han consolidado como un instrumento de Sólido crecimiento patrimonial para las personas que confían en nosotros, entendemos las necesidades de inversión de mediano y largo plazo.</p>
					</div>
					<div flex-gt-sm="60" flex="100" class="benefits-elements p+">
						<ul layout="row" layout-wrap layout-align="center start" class="h-100">
							<li flex-gt-sm="25" flex-gt-xs="50" flex="100">
								<div class="cont-team">
									<div class="square"></div>
									<figure>
										<img src="img/inversion/icon-naturaleza.png">
										<figcaption>
											<h5>Comunidades Sostenibles.</h5>
										</figcaption>
									</figure>
								</div>
							</li>
							<li flex-gt-sm="25" flex-gt-xs="50" flex="100">
								<div class="cont-team">
									<div class="square"></div>
									<figure>
										<img src="img/inversion/icon-seguridad.png">
										<figcaption>
											<h5>Certeza Jurídica.</h5>
										</figcaption>
									</figure>
								</div>
							</li>
							<li flex-gt-sm="25" flex-gt-xs="50" flex="100">
								<div class="cont-team">
									<div class="square"></div>
									<figure>
										<img src="img/inversion/icon-cultura.png">
										<figcaption>
											<h5>Ubicación estratégica.</h5>
										</figcaption>
									</figure>
								</div>
							</li>
							<li flex-gt-sm="25" flex-gt-xs="50" flex="100">
								<div class="cont-team">
									<div class="square"></div>
									<figure>
										<img src="img/inversion/icon-cultura.png">
										<figcaption>
											<h5>Proyectos sustentables.</h5>
										</figcaption>
									</figure>
								</div>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</section>
	<section class="slider mt++">
		<flex-slider slide="s in slider track by $index" direction-nav="false" control-nav="false" play="true" prev-Text="" next-Text="" animation="slide" class="total-height">
            <li class="total-height">
            	<img src="{{s.foto}}" alt="" class="slide_img">
            	<div class="text-slider" layout="row" layout-align-gt-sm="start center" layout-align="center center">
            		<div flex-gt-md="35" flex-offset-gt-md="15" flex-md="45" flex-offset-md="5" flex="80" flex-xs="90">
            			<h2>{{s.titulo}}</h2>
            			<p>{{s.descripcion}}</p>
            			<a href="/desarrollos"><md-button class="button btn-transparent">Quiero conocer más</md-button></a>
					</div>
            	</div>
            </li>
        </flex-slider>
	</section>
</div>